<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memory game</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div class="titleScore">
        
            <h1>Memory Cards</h1>
         
        <!--score for the game-->
        <div class="divScore">
            <p>Score: <span class="score"></span></p>
        </div>
        
    </div>
    
    <!--grid for cards-->
    <div class="grid-container"></div>
    
    <div class="actions">
        <!--reset the game-->
        
        <span id="restart" onclick="restart()">Restart</span>
        
    </div>
    
    <script src="/js/script.js"></script>
</body>
</html>

<!--/--------------------------------------------------\-->